h1 The Basics: HTML

h3 The DOCTYPE

p The DOCTYPE is the very first element that is read by a web browser.
p It describes what flavor of HTML you intend to use!

div.example
    pre <!DOCTYPE html>

h3.task
    span Let's Give It A Try!

ol.task-list
    li(data-task="<!doctype html>") Write out your first DOCTYPE declaration and press the SAVE button.

div.success
    a(href='#', data-lesson-step='0')
        span Congrats!
        span You are now on your way to becoming an amazing coder!
        span Let's Continue on!

