h1 The Basics: HTML

div(data-step="0", class="active")
    h3
        span.dropdown
            span 1.0
            i.icon-down
        |  | The DOCTYPE

    p The DOCTYPE is the very first element that is read by a web browser.
    p It describes what flavor of HTML you intend to use!

    div.example
        pre <!DOCTYPE html>

    h3.task
        span Let's Give It A Try!

    ol.task-list


    div.success
        a(href='#', data-lesson-step='0')
            span Congrats!
            span You are now on your way to becoming an amazing coder!
            span Let's Continue on!

div(data-step="1")
    h3
        span.dropdown
            span 1.1
            i.icon-down
        |  | HTML Tag

    p The HTML tag is the container or wrapper that holds all the pieces that make up a web page
    p The tag is required for a web page to display correctly.

    div.example
        pre <html>...</html>

    h3.task
        span Let's Give It A Try!

    ol.task-list


    div.success
        a(href='#', data-lesson-step='0')
            span Congrats!
            span You are now on your way to becoming an amazing coder!
            span Let's Continue on!

div(data-step="2")
    h3
        span.dropdown
            span 1.2
            i.icon-down
        |  | HEAD Tag

    p The HTML tag is the container or wrapper that holds all the pieces that make up a web page
    p The tag is required for a web page to display correctly.

    div.example
        pre <head>...</head>

    h3.task
        span Let's Give It A Try!

    ol.task-list


    div.success
        a(href='#', data-lesson-step='0')
            span Congrats!
            span You are now on your way to becoming an amazing coder!
            span Let's Continue on!

div(data-step="3")
    h3
        span.dropdown
            span 1.3
            i.icon-down
        |  | BODY Tag

    p The HTML tag is the container or wrapper that holds all the pieces that make up a web page
    p The tag is required for a web page to display correctly.

    div.example
        pre <body>...</body>

    h3.task
        span Let's Give It A Try!

    ol.task-list


    div.success
        a(href='#', data-lesson-step='0')
            span Congrats!
            span You are now on your way to becoming an amazing coder!
            span Let's Continue on!
