h1 The Basics: HTML

div(data-step="0")
    h3 1.0 | The DOCTYPE

    p The DOCTYPE is the very first element that is read by a web browser.
    p It describes what flavor of HTML you intend to use!

    div.example
        pre <!DOCTYPE html>

    h3.task
        span Let's Give It A Try!

    ol.task-list


    div.success
        a(href='#', data-lesson-step='0')
            span Congrats!
            span You are now on your way to becoming an amazing coder!
            span Let's Continue on!

div(data-step="1")
    h3 1.1 The HTML Tag

    p The DOCTYPE is the very first element that is read by a web browser.
    p It describes what flavor of HTML you intend to use!

    div.example
        pre <!DOCTYPE html>

    h3.task
        span Let's Give It A Try!

    ol.task-list


    div.success
        a(href='#', data-lesson-step='0')
            span Congrats!
            span You are now on your way to becoming an amazing coder!
            span Let's Continue on!
