extends ../partials/layout_app

block content
    include ../modals/images
    include ../partials/navigation
    include ../partials/javascript_lesson
    div.md-overlay

block scripts
    script
        var series = '#{series}';
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.form.js')
    script(src="/vendor/classie.js")
    script(src="/vendor/modalEffects.js")
    script(src="/vendor/cssParser.js")
    script
        // this is important for IEs
        var polyfilter_scriptpath = '/vendor/';

    script(src="/vendor/css-filters-polyfill.js")
    script(src='//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/sketch.js/1.0.0/sketch.min.js')
    script(src='/js/controllers/tasks.js')

    script(src='/js/views/editor.js')
    script(src='/js/views/tabs.js')
