extends partials/admin_layout

block content
    include partials/navigation
    include partials/admin_home

block scripts
    script(src='/vendor/jquery.min.js')
    script(src='/js/views/home.js')
