div.pagecontainer
    div.profile
        h1 Hello #{user.name}
    div.badges
        div.badge
            a(href="/html") html
        div.badge
            a(href="/css") css
        div.badge
            a(href="/javascript") javascript




