extends partials/layout_app

block content
	include partials/navigation
	include partials/series_info

block scripts
	script
		var series = '#{series}';
	script(src='/vendor/jquery.min.js')
	script(src='/js/views/home.js')
