.blocks {
    .block {
        background-color: $white;
        padding: 20px;
        display: inline-block;
        margin: 0 10px 10px 0;
        width: 20%;
        max-width: 250px;
        min-height: 250px;
        max-height: 250px;
        @include box-shadow(0, 0, 3px, lighten($grey, 20%), $inset: false);
        @include transition(all, 0.2s, ease-in-out);
        vertical-align: top;
        img {
            width: 100%;
        }

        &:hover {
            @include box-shadow(0, 0, 0, lighten($grey, 20%), $inset: false);
        }
    }
}

