body {
    margin: 0;
    padding: 0;
    background-color: $rhinocoderBlue;
    font-family: Arial, sans-serif;
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

body.app {
    background-color: lighten($grey, 50%);
}
