.btn {
	padding: 7px 20px;
	border-radius: 0;
}

.button {
	border: 3px solid;
	font-weight: bold;
	padding: 7px 12px;
	background-color: none;
	@include transition(all, 0.2s, ease-in-out);
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 20px;
}

.button.white {
	border-color: $white;
	color: $white;
}

.button.white:hover {
	background-color: $white;
	color: $grey;
}

.button.blue {
	border-color: $rhinocoderBlue;
	color: $rhinocoderBlue;
}

.button.blue:hover {
	background-color: $rhinocoderBlue;
	color: $white;
}

.button.green {
	border-color: $green;
	color: $green;
}

.button.green:hover {
	background-color: $green;
	color: $white;
}