.btn {
    padding: 7px 20px;
    border-radius: 0;
}

.button {
    display:inline-block;
    cursor:pointer;
    font-size:14px;
    padding:7px 26px;
    text-decoration:none;
    border: 0px;
    @include font-size(13px);
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 2px;

    &.white {
        border-color: $white;
        color: $white;
    }

    &.white:hover {
        background-color: $white;
        color: $grey;
    }

    &.blue {
        border-color: $rhinocoderBlue;
        color: $rhinocoderBlue;
    }

    &.blue:hover {
        background-color: $rhinocoderBlue;
        color: $white;
    }

    &.green {
        background-color: $green;
        color: $white;
        border-color: darken($green, 20%);
        border-bottom: 2px solid darken($green, 20%);
    }

    &.green:hover {
        background-color: darken($green, 20%);
        color: $white;
    }
}