.md-modal  {
    left: 55%;
    .md-content {
        float: left;
    }

    h3 {
        clear: both;
        width: 93%;
        text-align: center;
    }

    .local-images {
        float: left;
        width: 81%;
    }

    .upload {
        float: left;
        width: 81%;
    }

    .local-images {
        padding: 10px 0 0 20px;

        ul {
            margin: 0;
        }
        li {
            @include font-size(11px);
            padding: 0 0 5px 0;
            margin: 0;
        }
    }

    h5.seperator {
        margin-top: 50px;
        text-align: center;
        position: relative;
        color: black;
        font-size: 16px;
        font-weight: 500;
        clear: both;
        span {
            display: inline-block;
            border: 1px solid #ccc;
            padding: 10px 23px;
            background-color: white;
            border-radius: 31px;
            position: relative;
            z-index: 2;
        }

        &:after {
            content: '';
            height: 1px;
            width: 25%;
            position: absolute;
            top: 50%;
            right: 0px;
            background-color: #ccc;
            z-index: 1;
        }
        &:before {
            content: '';
            height: 1px;
            width: 25%;
            position: absolute;
            top: 50%;
            left: 0px;
            background-color: #ccc;
            z-index: 1;
        }
    }
}



div.icon-loader-container {
    display: none;
    @include font-size(20px);
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 999;
    color: #21adde;

    .text {
        background-color: $rhinocoderBlue;
        position: relative;
        top: 40%;
        color: white;
        width: 150px;
        border-radius: 5px;
        padding: 10px;
        margin: 0 auto;
    }

   .icon-loader2 {
        float: left;
   }
}

.ace_editor {

}

.ace_editor.active-editor {
    display: block !important;
}


.editor-container {
    position: relative;
    float: left;
    width: 51%;
    min-height: 199px;
    margin-bottom: 20px;
    height: calc(100% - 95px);
    background-color: white;
    overflow-y: auto;
}
.editor,
.output {
    height: 200px;
    width: 100%;

}

.editor {
    float: right;
    padding-bottom: 20px;
}

.output {
    float: right;
    background-color: white;

    width: 48%;
    height: calc(100% - 95px);
    .display {
        padding: 10px;
    }

}

.ace_content {
    margin-top: 15px !important;
}

.ace-github .ace_gutter {
    background-color: white !important;
    color: #ccc !important;
    margin-top: 15px;
}
