.editor-container {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    min-height: 199px;
}
.editor,
.output {
    height: 200px;
    width: 100%;

}

.editor {
    float: right;
}

.output {
    float: right;
    clear: both;
    background-color: $white;
    height: 273px;
    margin : {
        top: 17px;
    }
    .display {
        padding: 10px;
    }

}

.ace_content {
    padding: 10px 10px 10px 5px;
}
