.navigation {
	display: block;
	clear: both;
	font-weight: 100;

	.nav {
		background-color: $rhinocoderBlue;
		width: 50%;
		float: left;
		a,
		label {

			padding: 20px 30px;
			color: $white;
			text-decoration: none;
			@include transition(all, 0.2s, ease-in-out);
			@include font-size(13px);

			display: inline-block;
			cursor: pointer;
		}

		label {
			text-transform: capitalize;
		}
		a.active,
		label:hover,
		a:hover,
		a.selected {
			background-color: darken($rhinocoderBlue, 20%);
			position: relative;
		}

		a.active:after {
			bottom: 0%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: 10px;
			margin-left: -10px;
		}

		a:first-of-type {
			background-image: url('/img/rhino-horns.png');
			background-repeat: no-repeat;
			background-color: inherit;
			background-position: 8px 7px;
			text-indent: -9999px;
			margin-left: 15px;
			margin-right: 15px;

		}

		a:first-of-type:hover {
			background-color: none;
		}

		input {
			display: none;
		}

		input:checked + .dropdown {
			display: block;
		}

		.dropdown {
			display: none;
			position: absolute;
			right: 0;
			top: 60px;
			text-align: right;
			background-color: $white;
			width: 250px;
			z-index: 100;

			a {
				background-color: $white;
				display: block;
				color: $grey;
				font-weight: normal;
				padding: 7px 0 7px 10px;
				@include transition(all, 0.2s, ease-in-out);
				text-decoration: none;
				text-align: left;
			}

			a:hover {
				background-color: darken($white, 20%);
			}


		}
	}
}

.navigation .nav:nth-child(2) {
	text-align: right;

	label {
		margin-right: 0;
	}
}
