.pagecontainer {

	float: left;
	width: 100%;

	h1 {
		@include font-size(20px);
		font-weight: 600;
		text-transform: capitalize;
	}

	&.lesson {
		h1 {
			font-weight: 100;
			text-transform: capitalize;
			background-color: $black;
			color: $white;
			@include font-size(13px);
			text-align: center;
			padding: 5px;
			margin: 20px 0 0 0;
			width: 96.5%;
		}
	}


	p,


	div {

	}

	.text-right {
		text-align: right;
	}

	> div {
		width: 50%;
		float: left;
	}

	> div.full {
		width: 100%;
		float: none;
	}
}
