.pagecontainer {
	float: left;
	width: 100%;
	
	&.blur {
		-webkit-filter: blur(20px);
		-moz-filter: blur(20px);
		-o-filter: blur(20px);
		filter: blur(20px);
	}

	&.lesson {

		> div {
			width: 50%;
			float: left;
		}

	}

	h1 {
		@include font-size(20px);
		font-weight: 600;
		text-transform: capitalize;
	}

	p {

	}

	div {

	}

	div.inner {
		padding: 0 20px 20px 20px;
	}

	div.inner > div {
	}

	.text-right {
		text-align: right;
	}

	.text-center {
		text-align: center;
	}

	> div.full {
		width: 100%;
		float: none;
	}
}
