.btn {
  padding: 7px 20px;
  border-radius: 0;
}

.button {
  border: 3px solid;
  font-weight: bold;
  padding: 7px 12px;
  background-color: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
}

.button.white {
  border-color: #ffffff;
  color: #ffffff;
}

.button.white:hover {
  background-color: #ffffff;
  color: #666666;
}

.button.blue {
  border-color: #21adde;
  color: #21adde;
}

.button.blue:hover {
  background-color: #21adde;
  color: #ffffff;
}

.button.green {
  border-color: #a8bd5d;
  color: #a8bd5d;
}

.button.green:hover {
  background-color: #a8bd5d;
  color: #ffffff;
}

.links {
  color: #666666;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 0 5px;
  text-decoration: none;
}

.links:hover {
  color: black;
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
  background-color: #21adde;
}
body .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

body.app {
  background-color: #e6e6e6;
}

.login-register {
  background-color: #e6e6e6;
  width: 70%;
  margin: 100px auto 0 auto;
}
.login-register .heading {
  background-color: #737373;
  color: #ffffff;
  padding: 20px;
}
.login-register form {
  padding: 20px;
  margin: 0;
}
.login-register form .form-group {
  margin-bottom: 15px;
  width: 100%;
}
.login-register form input,
.login-register form input.form-control {
  width: 96%;
  background: #ffffff;
  border: 1px solid #ccc;
  padding: 20px 2%;
  color: gray;
  font-size: 95%;
}
.login-register form .btm-links a {
  color: #999999;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.login-register form .btm-links a:hover {
  color: black;
}

.navigation {
  display: block;
  clear: both;
  font-family: "Tahoma", arial;
}
.navigation .nav {
  background-color: #21adde;
  width: 50%;
  float: left;
}
.navigation .nav a,
.navigation .nav label {
  background-color: #1a8ab2;
  padding: 20px 30px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  font-weight: bold;
  margin-right: 3px;
  display: inline-block;
  cursor: pointer;
}
.navigation .nav label {
  text-transform: capitalize;
}
.navigation .nav label:hover,
.navigation .nav a:hover,
.navigation .nav a.selected {
  background-color: #146885;
}
.navigation .nav a.home {
  background-image: url("/img/rhino-horns.png");
  background-repeat: no-repeat;
  background-color: inherit;
  background-position: 8px 7px;
  text-indent: -9999px;
  padding: 20px 6px;
}
.navigation .nav a.home:hover {
  background-color: none;
}
.navigation .nav input {
  display: none;
}
.navigation .nav input:checked + .dropdown {
  display: block;
}
.navigation .nav .dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
  text-align: right;
  background-color: #ffffff;
  width: 250px;
  z-index: 100;
}
.navigation .nav .dropdown a {
  background-color: #ffffff;
  display: block;
  color: #666666;
  font-weight: normal;
  padding: 7px 0 7px 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-align: left;
}
.navigation .nav .dropdown a:hover {
  background-color: #cccccc;
}

.navigation .nav:nth-child(2) {
  text-align: right;
}
.navigation .nav:nth-child(2) label {
  margin-right: 0;
}

.pagecontainer {
  padding: 75px 40px;
}
.pagecontainer h1 {
  font-family: "Verdana", tahoma, arial, sans-serif;
  text-transform: capitalize;
}
.pagecontainer p,
.pagecontainer a {
  font-family: "Arial", sans-serif;
}
.pagecontainer > div {
  width: 50%;
  float: left;
}
.pagecontainer > div.full {
  width: 100%;
  float: none;
}

.editor,
.output {
  height: 200px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 3px #666666;
  -moz-box-shadow: 0px 0px 3px #666666;
  box-shadow: 0px 0px 3px #666666;
}

.editor {
  float: right;
}

.output {
  float: right;
  clear: both;
  background-color: #ffffff;
}

/*# sourceMappingURL=base.css.map */
