div#modal-1.md-modal.md-effect-16
    div.md-content
        h3 Your Images
        div.local-images
            ul
        h5.seperator
            span Upload a new Image
        div.upload
            form(id="image-upload", action="/upload/images", method="POST", enctype="multipart/form-data")
                input(type="file", name="displayImage")
                input(type="submit", value="upload")
                button(class='md-close') Close Window


