// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container.container-fluid.login-register
	div.heading
		h1 Student Signup
	form( method="post")#account-form.form-horizontal
		fieldset
			#name-cg.form-group
				input#name-tf.input-xlarge(type='text', placeholder="Full name", name='name', value= user.name).required.form-controls
			#email-cg.form-group
				input#email-tf.input-xlarge(type='text', placeholder="Email address", name='email', value= user.email).required.form-controls
			hr
			p#sub2.subheading
			#user-cg.form-group
				input#user-tf.input-xlarge.disabled(type='text', placeholder="Username", name='user', value= user.user).required.form-controls
			#pass-cg.form-group
				input#pass-tf.input-xlarge(type='password', placeholder="Password", name='pass', value='').required.form-controls
			.form-group
				button(type='button')#account-form-btn1.btn Cancel
				button(type="submit")#btn-login.btn.btn-primary Create Account

// display form errors in a custom modal window //

include ../modals/form-errors
