div.navigation
    div.nav
        a(href="/admin/home", title="Admin Home", class="home") Home
        a(href="/admin/studetns", title="All Students") Students
        a(href="/admin/admins", title="All Admins") Admins
    div.nav
        label(for="has-dropdown") #{audata.adminname}
        input(type="checkbox", id="has-dropdown")
        div.dropdown
            a(href='/logout', class="icon-logout", title="Logout") Logout
