div.pagecontainer.lesson
	div
		div.lesson-container
	div
		div.text-right
			include lesson_ctas
		div
			include lesson_tabs
		div.editor-container
			textarea(name='html', data-editor='html', rows='15', class='editor', data-output='true')
			textarea(name='css', data-editor='css', rows='15', class='editor', data-output='true')
		div.output
			div.display
