div.pagecontainer.lesson
	div
		div.lesson-container
			div
				span.drawer.icon-collapse
				include ../series/thebasics/css_lessons
	div
		div.text-right.tools
			include lesson_ctas
		div
			include lesson_tabs
		div.editor-container
			textarea(name='html', data-editor='html', rows='50', class='editor', data-output='true')
			textarea(name='css', data-editor='css', rows='50', class='editor', data-output='true')
		div.output
			div.display
