div.pagecontainer
	div.inner
		div
			h1 Hello, #{user.name}!
		div
			div.blocks
				div.block
					h3 The Basics
					img(src="/img/thebasics.png")
					p Held weekly, the Series is broken down into smaller components called Tracks: HTML, CSS and JavaScript. In these tracks, will be classes/sessions where students will be taught the fundamentals and best practices in each Track. We'll start with the basics in laying out HTML, then learn what it takes to style the HTML using what's called Cascading Style Sheets (CSS) and interact with the HTML using JavaScript.
					div.text-right

						a(href="/series/thebasics", class="button green", title="Go") Go
				div.block
					h4 Advanced
					p Held weekly, the Series is broken down into smaller components called Tracks: HTML, CSS and JavaScript. In these tracks, will be classes/sessions where students will be taught the fundamentals and best practices in each Track. We'll start with the basics in laying out HTML, then learn what it takes to style the HTML using what's called Cascading Style Sheets (CSS) and interact with the HTML using JavaScript.
					div.text-right
						a(href="/advanced/", class="button green", title="Go") Go

