div.pagecontainer.lesson
    div
        div.lesson-container
            span.drawer.icon-collapse
    div
        div.text-right.tools
            include lesson_ctas
        div
            include lesson_tabs
        div.editor-container
            textarea(name='html', data-editor='html', rows='15', class='editor', data-output='true')
        div.output
            div.display
