div.pagecontainer.lesson
    div
        div.lesson-container
            div
                span.drawer.icon-collapse
                include ../series/thebasics/html_lessons
    div
        div.text-right.tools
            include lesson_ctas
        div
            include lesson_tabs
        div.editor-container
            textarea(name='html', data-editor='html', rows='15', class='editor', data-output='true')
        div.output
            div.display
