div.tabs
	if section == "html"
		span(class="tab active-editor") HTML
	else if section == "css"
		span(class="tab") HTML
		span(class="tab active-editor") CSS
	else
		span(class="tab") HTML
		span(class="tab") CSS
		span(class="tab active-editor") JavaScript