a(href="#", data-modal="modal-1", class="md-trigger links icon-picture", title="Images")
a(href="#", class="links icon-documents", title="Document")
a(href="#", class="links icon-video", title="Video")
button(type="", class="save-work button green") Save
