
a(href="#", class="links", title="Images") Images
    i.icon-picture

a(href="#", class="links", title="Document") Document
    i.icon-documents

a(href="#", class="links", title="Video") Video
    i.icon-video

button(type="", class="save-work button green") Save
