extends layout

block content
	#login-container.container-fluid.login-register
		div.heading
			img(src="/img/rhinocoders-logo.png", alt="RhinoCoders")
			h1 Student Login
		form(method="post")#login-form
			div.form-group
				input(type="text", placeholder="Username", name="user", id='user-tf').required.form-control
			div.form-group
				input(type="password", placeholder="Password", name="pass", id='pass-tf').required.form-control
			div.form-group
				button(type="submit")#btn-login.btn.btn-primary Sign in
			div.clear-fix
			hr
			div.btm-links.pull-left
				a(href='#')#forgot-password Forgot Your Password?
			div.btm-links.pull-right
				a(href='/signup')#create-account Create An Account
			div.clearfix

	include ../modals/alert
	include ../modals/lost-password

block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/login.js')
	script(src='/js/controllers/loginController.js')
	script(src='/js/form-validators/loginValidator.js')
	script(src='/js/form-validators/emailValidator.js')
