div.navigation
	div.nav
		each link in navLinks
			- var isActive = (link.key == section ? 'active' : '')
			a(href=link.path, title=link.label, class=isActive)= link.label
	div.nav
		a(href="http://www.rhinocoders.com", title="My Website", class="", target="_blank") My Website
		label(for="has-dropdown") #{user.name}
		input(type="checkbox", id="has-dropdown")
		div.dropdown
			a(href='/profile', class="icon-user", title="Profile") Profile
			a(href='/badges', title="Badges") Badges
			a(href='/support', title="Support")  Support
			a(href='/logout', title="Logout") Logout
