div.navigation
	div.nav
		a(href='/home', title="Home", class="home") Home 
		a(href='/html', title="HTML") HTML 
		a(href='/css', title="CSS")  CSS 
		a(href='/javascript', title="Javascript") JS
	div.nav
		label(for="has-dropdown") #{user.name} 
		input(type="checkbox", id="has-dropdown")
		div.dropdown
			a(href='/home', title="home") Profile 
			a(href='/badges', title="Badges") Badges
			a(href='/support', title="Support")  Support 
			a(href='/logout', title="Logout") Logout