div.pagecontainer
    div.profile
        div
            h1 Hello #{user.name}
            p Welcome to your profile.
    div.badges
        div.badge
            a(href="/html") html
        div.badge
            a(href="/css") css
        div.badge
            a(href="/javascript") javascript




