div.pagecontainer
	div
		div
			h1 Get Support
			p We're sorry you're having trouble. Detail the issue you're having and we'll review and respond.
			form(method="", post="")
				textarea(name="issue", placeholder="Describe in great detail the issue you're having:")
				intpu(type="hidden", name="user", value= user._id)
				button(type="submit", value="Send")





