body {
    background-color: navy;
}
.main-header, .section-container, .main-footer {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding:20px 20px 20px 20px; 
}
.main-header {
    background-color: grey;
}
.main-header .logo {
    max-width: 120px;
    width: 75%;
}
.main-header .nav {
    float: right;
}