body {
    background-color: red;
}
      
.main-header, .section-container, .main-footer { 
    width: 90%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
}
.main-header {
    background-color: green;
    border: 10px dotted black;
}

.main-header .logo {
    max-width: 120px;
    width: 80%;
        border: 2px dashed red;
        border-radius: 200px;
}

.main-header .nav { float: right; }

.main-header .nav .nav-links {
    margin: 40px 0 0;
    padding: 16px;
}

.main-header .nav .nav-links .link {
    display: inline;
    margin-left: 10px; 
}

.main-header .nav .nav-links .link a {
    color : black;
    padding: 10px;
    transition: all, 1s, ease-in-out;
    text-decoration: none;
}

.main-header .nav .nav-links .link a:hover {
    color: white;
    background-color: black; 
    padding-bottom: 2500px;
}

.main-body {
width: 85%;
float: left; 
}

.gallery-main-image { 
    margin-bottom: 10px;
}


.image-container, .image-container img { 
height: 600px;
margin: 0 auto;
width: 800px;
}

.photo-gallery {
    margin: 0; 
    padding: 0;
}


.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.photo-gallery li {
    float: left;
    list-style: none;
    max-hight: 165px;
    overflow: hidden;
    position:relative;
    width:25%;
}


.photo-gallery li .photo { height: auto; max-height: 600px; width: 100%; }


.main-footer {
    background-color:grey;
    padding: 20px;
}


.main-footer .copyright, .main-footer .terms {
    color: black;
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    padding: 0; 
}


.main-footer .terms {
    font-style: italic;
    font-weight: normal;
}
