.main-header, .section-container, .main-footer { 
    width: 90%; 
    margin: 0 auto; 
    background-color: green; 
    padding: 20px; 
}

.main-header {
    background-color: blue; 
}

.main-header .logo {
    max-width: 120px;
    width: 75%; 
}

.main-header .nav { float: right; }