body {
    background-color: blue;
    margin: #22acdb;
}

.main-header, .section-container, .main-footer {
    width: 90%;
    margin: 0 auto;
    background-color: #FF0000;
    padding: 20px;
}


    

    
    